@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

<div class="check-steps">
    <i class="check-steps-bg"></i>
    <ul class="check-steps-block">
        <li>
            <span>@T("Checkout.Progress.Cart")</span>
        </li>
        <li class="current mid">
            <span>@T("Checkout.Progress.Confirm")</span>
        </li>
        <li>
            <span>成功提交订单</span>
        </li>
    </ul>
</div>


<!----------收货地址------------>




<!----------支付方式------------>


<!----------订单详细------------>
@Html.Action("OrderSummary", "ShoppingCart")

