@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="main-features">
        <h2 class="features-title">@T("HomePage.Products")</h2>
        <div class="item-grid clearfix">
            @foreach (var item in Model)
            {
                <div class="item-box col-md-3 col-sm-6 col-xs-12">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}



