

.ui-upload {
    padding: 10px 0;
}

.ui-input {
    line-height: 14px;
    position: relative;
    font-size: 12px;
    width: 140px;
    margin: 0;
    padding: 5px 12px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    -ms-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

    .ui-input:focus, .ui-input:hover {
        border-color: #b6b6b6;
    }

    .ui-input.large {
        font-size: 14px;
        line-height: 16px;
        padding: 6px 10px 8px;
        width: 240px;
    }

    .ui-input.textarea {
        font-size: 14px;
        line-height: 24px;
        padding: 5px;
        width: 400px;
        height: 200px;
        border-right-width: 2px;
    }

    .ui-input.input-validation-error {
        border-color: #f20266;
    }

.ui-select {
    margin: 0;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    padding: 6px;
}

.ui-tooltips {
    position: absolute;
    z-index: 10;
    padding: 5px 15px 5px 10px;
    border-width: 1px;
    border-style: solid;
    word-break: break-all;
    border-color: #d6d6d6;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.5;
    color: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}

    .ui-tooltips.arrow-bottom-center:after,
    .ui-tooltips.arrow-bottom-center:before,
    .ui-tooltips.arrow-bottom-left:after,
    .ui-tooltips.arrow-bottom-left:before,
    .ui-tooltips.arrow-bottom-right:after,
    .ui-tooltips.arrow-bottom-right:before,
    .ui-tooltips.arrow-left-bottom:after,
    .ui-tooltips.arrow-left-bottom:before,
    .ui-tooltips.arrow-left-center:after,
    .ui-tooltips.arrow-left-center:before,
    .ui-tooltips.arrow-left-top:after,
    .ui-tooltips.arrow-left-top:before,
    .ui-tooltips.arrow-right-bottom:after,
    .ui-tooltips.arrow-right-bottom:before,
    .ui-tooltips.arrow-right-center:after,
    .ui-tooltips.arrow-right-center:before,
    .ui-tooltips.arrow-right-top:after,
    .ui-tooltips.arrow-right-top:before,
    .ui-tooltips.arrow-top-center:after,
    .ui-tooltips.arrow-top-center:before,
    .ui-tooltips.arrow-top-left:after,
    .ui-tooltips.arrow-top-left:before,
    .ui-tooltips.arrow-top-right:after,
    .ui-tooltips.arrow-top-right:before {
        position: absolute;
        width: 0;
        height: 0;
        content: ' ';
        border: solid transparent;
        pointer-events: none;
    }

    .ui-tooltips.arrow-bottom-center:before,
    .ui-tooltips.arrow-bottom-left:before,
    .ui-tooltips.arrow-bottom-right:before,
    .ui-tooltips.arrow-left-bottom:before,
    .ui-tooltips.arrow-left-center:before,
    .ui-tooltips.arrow-left-top:before,
    .ui-tooltips.arrow-right-bottom:before,
    .ui-tooltips.arrow-right-center:before,
    .ui-tooltips.arrow-right-top:before,
    .ui-tooltips.arrow-top-center:before,
    .ui-tooltips.arrow-top-left:before,
    .ui-tooltips.arrow-top-right:before {
        border-width: 6px;
    }

    .ui-tooltips.arrow-bottom-center:after,
    .ui-tooltips.arrow-bottom-left:after,
    .ui-tooltips.arrow-bottom-right:after,
    .ui-tooltips.arrow-left-bottom:after,
    .ui-tooltips.arrow-left-center:after,
    .ui-tooltips.arrow-left-top:after,
    .ui-tooltips.arrow-right-bottom:after,
    .ui-tooltips.arrow-right-center:after,
    .ui-tooltips.arrow-right-top:after,
    .ui-tooltips.arrow-top-center:after,
    .ui-tooltips.arrow-top-left:after,
    .ui-tooltips.arrow-top-right:after {
        border-width: 5px;
    }

    .ui-tooltips.arrow-left-bottom:before,
    .ui-tooltips.arrow-left-center:before,
    .ui-tooltips.arrow-left-top:before {
        border-right-color: #d6d6d6;
        margin-top: -6px;
        right: 100%;
    }

    .ui-tooltips.arrow-left-bottom:after,
    .ui-tooltips.arrow-left-center:after,
    .ui-tooltips.arrow-left-top:after {
        border-right-color: #fff;
        margin-top: -5px;
        right: 100%;
    }


    .ui-tooltips.arrow-left-center:after,
    .ui-tooltips.arrow-left-center:before,
    .ui-tooltips.arrow-right-center:after,
    .ui-tooltips.arrow-right-center:before {
        top: 50%;
    }

    .ui-tooltips.warning.arrow-left-bottom:after,
    .ui-tooltips.warning.arrow-left-center:after,
    .ui-tooltips.warning.arrow-left-top:after {
        border-right-color: #fffaf3;
    }

    .ui-tooltips.warning.arrow-left-bottom:before,
    .ui-tooltips.warning.arrow-left-center:before,
    .ui-tooltips.warning.arrow-left-top:before {
        border-right-color: #f8dbb1;
    }



.hidden {
    display: none!important;
}

.ui-tooltips.warning {
    padding: 6px 15px 6px 36px;
    border-color: #f8dbb1;
    background-color: #fffaf3;
    color: inherit;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    border-radius: 3px;
}


.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.ui-tooltips .icon {
    position: absolute;
    left: 12px;
    top: 7px;
}

.icon-warning,
.ui-tips.warning .icon,
.ui-tooltips.warning .icon {
    background: url(images/helpinfo.png) no-repeat;
}

.form-result-tips {
    padding: 10px 20px 10px 10px;
    background: #fff;
    border: 1px solid #DFCE14;
    margin-bottom: 10px;
    position: relative;
}

.form-container {
    display: block;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .form-container.bordered {
        border-top: 1px solid #ef50a3;
    }

.form-header-button {
    position: absolute;
    top: 8px;
    right: 20px;
}


.form-header {
    display: block;
    height: 45px;
    line-height: 1;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

    .form-header h3 {
        font-size: 14px;
        font-weight: bolder;
        color: #333;
        padding: 18px 0 0 20px;
        background: #fdfdfd;
    }


.form-fields {
    padding: 10px;
}

.form-group {
    margin: 15px 0;
    height: 32px;
    overflow: visible;
    position: relative;
    z-Index: 2;
}


    .form-group.form-group-textarea {
        height: 200px;
    }

    .form-group.form-group-image {
        height: 100px;
    }

    .form-group .form-image {
        float: left;
        margin-right: 10px;
    }

        .form-group .form-image img {
            width: 100px;
            height: 100px;
            padding: 2px;
            border: 1px solid #ccc;
        }

    .form-group .form-group-hint {
        margin-bottom: 10px;
        color: gray;
    }

    .form-group .ui-input {
        float: left;
    }

    .form-group .ui-tooltips {
        float: left;
        margin-left: 10px;
        white-space: nowrap;
        position: relative;
    }

    .form-group select {
        position: relative;
        width: 240px;
        margin: 0;
        color: #666;
        background-color: #fff;
        border: 1px solid #ccc;
        outline: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border-color .2s ease;
        -moz-transition: border-color .2s ease;
        -o-transition: border-color .2s ease;
        -ms-transition: border-color .2s ease;
        transition: border-color .2s ease;
        font-size: 14px;
        line-height: 16px;
        padding: 6px 10px 8px;
        margin-right: 10px;
    }

.form-readonly {
    float: left;
    line-height: 32px;
    color: gray;
}


.form-label {
    float: left;
    width: 75px;
    text-align: right;
    line-height: 32px;
    margin-right: 20px;
    color: gray;
}

    .form-label .required {
        font-size: 14px;
        line-height: 14px;
        vertical-align: middle;
        font-weight: bold;
        margin-right: 5px;
        color: #f10180;
    }

.form-group-checklist {
    float: left;
    line-height: 32px;
    position: relative;
}

    .form-group-checklist .checkbox,
    .form-group-checklist .check-box {
        position: absolute;
        top: 10px;
    }

    .form-group-checklist .forcheckbox {
        margin-right: 10px;
        margin-left: 20px;
    }

.form-group-birthdate {
    float: left;
    line-height: 32px;
    position: relative;
}

    .form-group-birthdate select {
        position: relative;
        width: 100px;
        margin: 0;
        color: #666;
        background-color: #fff;
        border: 1px solid #ccc;
        outline: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border-color .2s ease;
        -moz-transition: border-color .2s ease;
        -o-transition: border-color .2s ease;
        -ms-transition: border-color .2s ease;
        transition: border-color .2s ease;
        font-size: 14px;
        line-height: 16px;
        padding: 6px 10px 8px;
        margin-right: 10px;
    }


.form-submit {
    text-align: center;
    border-top: 1px solid #e1e1e1;
    margin-top: 25px;
    padding: 15px 0;
}

.form-float-submit {
    margin-left: 15px;
    float: left;
}

.ui-button {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 1px solid #c2c2c2;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 7px 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: inherit;
    font-style: inherit;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

    .ui-button.primary {
        color: #fff;
        background-color: #f10180;
        border-color: #f10180;
    }

    .ui-button.huge {
        padding: 8px 20px;
        font-size: 16px;
    }
